<div class="bg-light nav">
    <div class ="container">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">HanBBang<i class="bi bi-bookmark-check" style="color: green; font-size: 30px" ></i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'community:list' %}">메모장</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">대시보드</a> <!-- url '앱네임:패스이름' -->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'community:change_list' %}">change_list</a></li>
                  <li><a class="dropdown-item" href="{% url 'community:change_list' %}">update</a></li>
                  <li><a class="dropdown-item" href="{% url 'community:change_list' %}">delete</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--로그인 인증 -->
          <div class="collapse navbar-collapse justify-content-end"> <!-- justify-content-end 오른쪽 끝으로 옮기기 -->
            <ul class = " navbar-nav">
              <li class="nav-item dropdown">
                <!-- login 완료된 경우 -->
                {% if user.is_active %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class= "bi bi-box-arrow-in-left"></i>{{user.get_username}}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a></li>
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">비밀번호변경</a></li>
                </ul>
                {% else %}
                <!-- login 안된경우-->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Anonmous
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'login' %}">로그인</a></li>
                  <li><a class="dropdown-item" href="{% url 'register' %}">회원가입</a></li>
                </ul>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>