{% extends 'partials/base.html' %}
{% block title %}
메모 세부 내용
{% endblock title %}
{% block content %}
<table>
    <tr>
        <td>no</td>
        <td>{{ article_detail.pk }}</td>
    </tr>
    <tr>
        <td>제목</td>
        <td>{{ article_detail.title }}</td>
    </tr>
    <tr>
        <td>내용</td>
        <td>{{ article_detail.contents }}</td>
    </tr>
    <tr>
        <td>작성자</td>
        <td>{{ article_detail.name }}</td>
    </tr>
    <tr>
        <td>이메일</td>
        <td>{{ article_detail.email }}</td>
    </tr>
    </tr>
    <tr>
        <td>URL</td>
        <td>{{ article_detail.url }}</td>
    </tr>
</table>
{% endblock content %}