{% extends 'partials/base.html' %}
{% block title %}

{% endblock title %}
{% block content %}
<table>
    <tr>
        <td>no</td>
        <td>{{ article.pk }}</td><!-- article을 object로 적어도됌-->
    </tr>
    <tr>
        <td>제목</td>
        <td>{{ article.title }}</td>
    </tr>
    <tr>
        <td>내용</td>
        <td>{{ article.contents }}</td>
    </tr>
    <tr>
        <td>작성자</td>
        <td>{{ article.name }}</td>
    </tr>
    <tr>
        <td>이메일</td>
        <td>{{ article.email }}</td>
    </tr>
    </tr>
    <tr>
        <td>URL</td>
        <td>{{ article.url }}</td>
    </tr>
</table>
{% endblock content %}